.navbar{
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 1px 3px -2px black;
}

.navLogo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navLogo p{
    color: #171717;
    font-size: 35px;
    font-weight: 400;
}

.navMenu{
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
    color: #626262;
    font-size: 18px;
    font-weight: 500;
}

.navMenu li{
    cursor: pointer;
}

.navMenu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}

.navLoginCart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.navLoginCart button{
    height: 40px;
    width: 100px;
    border-radius: 75px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background: white;
    outline: none;
    border: 1px solid #7a7a7a;
}

.navLoginCart button:active{
    background-color: #f3f3f3;
}

.navCartCount{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 15px;
    background-color: red;
    color: wheat;
}